<form action='/urls' method="post">
    Enter URL:
    <input type ="text" name="long_url">
    <input type ="submit" value ="Submit">
</form>


<h1>Links</h1>
<% @urls.each do |url| %>
  <p><%= url.long_url %>,<%= "http://localhost:9393/" + url.short_url %></p>  
<% end %>
