<html>
	<head>
    <link href="css/application.css" type="text/css" rel="stylesheet" />   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

<!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script> -->

		<title>Bit.ly Clone by Kevin</title>
    

	</head>

  <body>





    <div class="container">
		<%= yield %>
    </div>
	</body>

  <footer>
  <div id="footer"></div>
  <br>
  Copyright &#169; Kevlab Inc.
  </footer>


</html>