<html>
	<head>
    <link href="css/application.css" type="text/css" rel="stylesheet" />   

		<title>Bit.ly Clone by Kevin</title>
    

	</head>

  <body>
    <div class="container">
		<%= yield %>
    </div>
	</body>

  <footer>
  <div id="footer"></div>
  <br>
  Copyright &#169; Kevlab Inc.
  </footer>


</html>